.about .about-row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

.about {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-row .image {
    flex: 1 1 45rem;
}

.about .about-row .image img {
    width: 50%;
}

.about .about-row .content {
    flex:1 1 45rem;
    align-items: center;
}

.about .about-row .content h3{
    color: var(--black);
}

.image {
    padding-left: 170px;
}

.content h2{
    padding-bottom: 10px;
}

.values {
    display: flex;
    justify-content: center;
    align-items: center;
}

.values h3 {
    padding: 6px;
    padding-bottom: 10vh;
    padding-top: 5vh;
    font-family: cursive;
}

.value-icon span {
    padding-left: 15px;
    font-family: monospace;
    font-size: 1.17em;
    font-weight: 700;

}

.points {
    padding-left: 5vw;
    font-family: monospace;
}

.Parent-Container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2vw;
    gap: 5vw;
}

.child-1 .child-2 {
    flex: 1;
}

.Parent-Container-2{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2vw;
    gap: 7vw;
    padding-top: 7vh;
}

.points ul li {
    padding: 2px;
}